<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <div class="row justify-content-between">
      <div class="col-md-4">
        <p>{{ site.title | escape }} © {{ "now" | date: "%Y" }}</p>
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="col-md-4">
        <p>Built in partnership through the <a href="https://www.theiagd.org">Internation Association for Geoscience Diversity</a>.</p>
        <img src="/assets/images/IAGD_logo.png" height=88 alt="IAGD logo" loading="lazy">
      </div>
      <div class="col-md-4">
        <p>This project made possible through generous support from the <a href="https://www.agu.org/">American Geophysical Union</a></p>
        <img width=200 src="/assets/images/agu-logo.webp" alt="AGU logo" loading="lazy">
      </div>
    </div>
  </div>
</footer>
