$blue: #3455db;
$white: #fff;
$text-muted: #2e343b;
$breadcrumb-active-color: #2e343b;
$breadcrumb-divider-color: $breadcrumb-active-color;
$navbar-dark-color: rgba($white, .7) !default;

@import '../node_modules/bootstrap/scss/bootstrap';

#hero {
  height:300px;
  .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/assets/images/hero.jpg');
    background-size: initial;
    top: 0; bottom: 0; left: 0; right: 0;
    filter:blur(0.5px) brightness(50%) sepia(50%);
  }
}
